<appSettings>
  <add key="TenantName" value="Put your configuration here" />
  <add key="TenantId" value="Put your configuration here" />
  <add key="ClientId" value="Put your configuration here" />
  <add key="ClientSecret" value="Put your configuration here" />
  <add key="TenantName" value="Put your configuration here" />  
</appSettings>