<appSettings>
  <add key="TenantName" value="jonathanmourtadarjl.onmicrosoft.com" />
  <add key="TenantId" value="28737d0e-def8-478a-a2d3-9482b54eb68b" />
  <add key="ClientId" value="00ddbe12-41e1-4d64-b4c6-3eac623e6fd6" />
  <add key="ClientSecret" value="lekvBrFgKAi47JYopTBp0BVvUTwhhhkF/Zcyc/c7hUM=" />
  <add key="TenantName" value="jonathanmourtadarjl.onmicrosoft.com" />  
</appSettings>